<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="container d-flex justify-content-between p-0">
        <span class="h3">List of Customers</span>
        <button class="btn btn-primary btn-lg float-right">Add Customer</button>
      </div>
      <table class="table table-striped table-hover mt-4">
        <!-- <table class="table table-responsive table-striped table-hover mt-4"> -->
        <thead>
          <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Date of birth</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Diana</td>
            <td>Gonzales</td>
            <td>13</td>
            <td>27-08-1996</td>
            <td>
              <button class="btn btn-info">Edit</button>
              <button class="btn btn-danger ms-4">Remove</button>
            </td>
          </tr>
          <tr>
            <td>Diana</td>
            <td>Gonzales</td>
            <td>13</td>
            <td>27-08-1996</td>
            <td>
              <button class="btn btn-info">Edit</button>
              <button class="btn btn-danger ms-4">Remove</button>
            </td>
          </tr>
          <tr>
            <td>Diana</td>
            <td>Gonzales</td>
            <td>13</td>
            <td>27-08-1996</td>
            <td>
              <button class="btn btn-info">Edit</button>
              <button class="btn btn-danger ms-4">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
